APP_NAME=gopher-gateway-service
APP_ENV=production
APP_HTTP_PORT=8000

JWT_ACCESS_SECRET=your-access-secret-from-identity-service
IDENTITY_SERVICE_URL=http://foody-identity:8001
RESTAURANT_SERVICE_URL=http://foody-restaurant:8002

LOGGER_LEVEL=info
